<% provide(:title, t(".title")) %>
<h1><%= t ".heading" %></h1>
<p><%= t ".paragraph1" %>
  <%= link_to t(".emphasized"), "https://www.railstutorial.org/" %>
  <%= t ".paragraph2" %>
  <%= link_to t(".hyperlink1"), "https://www.railstutorial.org/book" %>
  <%= t ".paragraph3" %>
  <%= link_to t(".hyperlink2"), "http://screencasts.railstutorial.org/" %>
  <%= t ".paragraph4" %>
  <%= link_to t(".hyperlink3"), "http://rubyonrails.org/" %>
  <%= t ".paragraph5" %>
</p>
