<% provide(:title, t(".title")) %>
<h1><%= t ".heading" %></h1>
<p>
  <%= t ".paragraph1" %>
  <%= link_to t(".hyperlink1"), "https://www.railstutorial.org/help" %>
  <%= t ".paragraph2" %>
  <%= link_to t(".hyperlink2"), "https://www.railstutorial.org/book" %>
</p>
